@charset "UTF-8";
.navbar {
	background-color: #4B0082; /* Change the background color */
}

.navbar-brand {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: #FFFFFF; /* Text color for navbar-brand */
}

.nav-link {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.1rem;
	color: #FFFFFF; /* Text color for nav links */
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}